@model IEnumerable<Test.Models.Appointment>

@{
    ViewBag.Title = "DoctorDashBoard";
}

<h2 class="text-center m-4">DoctorDashBoard</h2>
<div class="row">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Disease)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Advice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reply)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Fees)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.User.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User1.Name)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Advice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reply)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fees)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User1.Name)
                </td>
                <td>
                    @Html.ActionLink("reply", "Edit", new { id = item.AppointmentID })
                    @*@Html.ActionLink("Det", "Details", new { id=item.AppointmentID })*@

                </td>
                @if (item.Status == null)
                {
                    <td>
                        @Html.ActionLink("Reschedule", "Reschedule", new { id = item.AppointmentID })
                    </td>
                }
            </tr>

        }

    </table>
    Total Fees: @Model.Sum(i => i.Fees)

    @*<div class="container">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Monthly Fees Analysis</h5>
                        @Html.ActionLink("Click here", "FeesAnalysis")
                    </div>
                </div>
            </div>

        </div>*@
    </div>